<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <% content_for :css do %>
    <%= stylesheet_link_tag 'blogs' %>
  <% end %>
</head>
<body>
  
<div class="calendar-all">

  <h1 class="calendar-title">My Diary</h1>

  <table></table>
  
  <%= link_to new_blog_path, class:"diary-nik" do %>
     <p class="nik-span">日記を書く</p> 
   <% end %> 

  <%= month_calendar events: @blogs do |date, blogs| %>
    <%= date.day %>

    <% blogs.each do |blog| %>
      <div>
        <%= link_to blog.title, blog %>
      </div>
    <% end %>
  <% end %>
</div>
</body>
</html>