<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  
<%= form_tag(search_blogs_path,:method => 'get') do %>
  <%= text_field_tag :search %>
  <%= submit_tag 'Search', :name => nil %>
<% end %>

<ul><% @blogs.each do |blog| %>
  <li>
    <%= link_to blog.title, blog %>
    <%= blog.content %>
    <%= blog.created_at.strftime('%Y/%m/%d') %>
    
  </li>
  <% end %>
</ul>
</body>
</html>