<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <% content_for :css do %>
    <%= stylesheet_link_tag 'blogs' %>
  <% end %>
  
</head>
<body>
  <div class="calendar-all"> 
    <nav class="top-nav">
      <%= link_to  root_path, class: "top-nav_left" do%>
      <span class="char-sub">T</span><span class="char-sub">o</span><span class="char-sub">p</span><span class="char-sub">&nbsp</span><span class="char-sub">P</span><span class="char-sub">a</span><span class="char-sub">g</span><span class="char-sub">e</span>
      <% end %>
      <%= link_to  user_path(current_user.id), class: "top-nav_right" do%><span class="char-sub">M</span><span class="char-sub">y</span><span class="char-sub">&nbsp</span><span class="char-sub">P</span><span class="char-sub">a</span><span class="char-sub">g</span><span class="char-sub">e</span>
      <% end  %>
    </nav>

    <div class="show-blog">
      <h1 class="show-header">
        <span class="char-title">S</span><span class="char-title">c</span><span class="char-title">h</span><span class="char-title">d</span><span class="char-title">e</span><span class="char-title">u</span><span class="char-title">l</span><span class="char-title">e</span>
      </h1>
      <div class="show-content">
        <div class="form-contents">
          
          <div class="header-show">
            <div class="show-title">Title</div> 
            <div class="title">
              <span class="title-span"></span>
              <div class="title-date"><%= @blog.title%></div>
            </div>
          </div>
          
          <div class="time-show">
            <div class="show-time">Time</div>
            <div class="time">
              <span class="time-span"></span>
              <div class="time-date"><%= @blog.start_time.strftime("%Y-%m-%d %H:%M") %></div>
            </div>
          </div>
          
          <div class="contents-show">
            <div class="show-contents">Content</div>
            <div class="contents">
              <span class="contents-span1"></span>
              <span class="contents-span2"></span>
              <div class="contents-date">
                <%= safe_join(@blog.content.split("\n"),tag(:br)) %>
                </div>
            </div>
          </div>
        
          <%= link_to edit_blog_path(@blog),class:"e-btn" do%>
            <div class="edit-path">
              <span>E</span><span>d</span><span>i</span><span>t</span>
            </div>
          <% end %>
          <%= link_to  blogs_path, class:"t-btn" do %>
            <span>B</span><span>a</span><span>c</span><span>k</span>
          <% end %>
          <%= link_to blog_path(@blog.id), class:"d-btn", method: :delete  do %>
            <span>D</span><span>e</span><span>l</span><span>e</span><span>t</span><span>e</span>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</body>
</html>