<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <% content_for :css do %>
    <%= stylesheet_link_tag 'tweets' %>
  <% end %>
</head>
<body>
  
<div class="show-blog">
  <div class="show-content">
    <p>
      <strong class="show-title">タイトル：</strong>
      <%= @blog.title %>
    </p>

    <p>
      <strong class="show-time">時間：</strong>
      <%= @blog.start_time.strftime("%Y-%m-%d %H:%M") %>
    </p>

    <p>
      <strong class="show-content">内容：</strong>
      <%= @blog.content %>
    </p>

    <%= link_to 'Edit', edit_blog_path(@blog) %> |
    <%= link_to 'Back', blogs_path %> |
    <%= link_to 'Destroy', blog_path(@blog.id), method: :delete %>
  </div>
</div>
</body>
</html>