<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <% content_for :css do %>
    <%= stylesheet_link_tag 'new' %>
  <% end %>
  <title>Document</title>
</head>
<body>

 <div id="global-container">
<!-- 背景のドット調coverの擬似要素 --> 
    <div class="bg-dot">
      <span class="bg-cover"></span>
    </div>
<!-- ボタンにhoverしたときに表示される擬似要素 -->
    <span class="bg-signup"></span>
    <span class="bg-signin"></span>
    <span class="bg-mypage"></span>
    <span class="bg-search"></span>
<!-- sign inしているときのボタン -->
   <% if user_signed_in? %> 
        <nav class="top-nav">
          <%= link_to  root_path, class: "top-nav_left" do%>
              <span class="char-sub">T</span><span class="char-sub">o</span><span class="char-sub">p</span><span class="char-sub">&nbsp</span><span class="char-sub">p</span><span class="char-sub">a</span><span class="char-sub">g</span><span class="char-sub">e</span>
          <% end %>
          <%= link_to  destroy_user_session_path, method: :delete , class: "top-nav_right" do%><span class="char-sub">L</span><span class="char-sub">o</span><span class="char-sub">g</span><span class="char-sub">&nbsp</span><span class="char-sub">o</span><span class="char-sub">u</span><span class="char-sub">t</span>
          <% end  %>
        </nav>
        <nav class= "bottom-nav">
          <%= link_to  user_path(current_user.id), class: "bottom-nav_left" do%><span class="char-sub">M</span><span class="char-sub">y</span><span class="char-sub">&nbsp</span><span class="char-sub">p</span><span class="char-sub">a</span><span class="char-sub">g</span><span class="char-sub">e</span></a>
          <% end  %>
          <%= link_to tweets_posts_path,class:"bottom-nav_right" do%><span class="char-sub">T</span><span class="char-sub">w</span><span class="char-sub">e</span><span class="char-sub">e</span><span class="char-sub">t</span><span class="char-sub">s</span>&nbsp</span><span class="char-sub">l</span><span class="char-sub">i</span><span class="char-sub">s</span><span class="char-sub">t</span></a>
          <% end %>
        </nav>

      <% end %> 
      <div class="alert alert-danger">
              <ul>
              <% @post.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
              <% end %>
              </ul>
            </div>  
 <!--　一覧表示 -->  
   <div class="main-content">
    <section class="post-content">
      <p class="post-title"><span class="char-title">N</span><span class="char-title">e</span><span class="char-title">w</span><span class="char-title">&nbsp</span><span class="char-title">P</span><span class="char-title">o</span><span class="char-title">s</span><span class="char-title">t</span>
      
            
        <div class ="form-post">
          <%= form_with model: @post, class: "form_all" ,local: true do |f| %>
            <% if @post.errors.any? %>
          <% end %>
            <div class = "form-title">
              <%= f.label :title,"Title",class:"title-label" %>
              <div class="fusen-all">
                  <span class="fusen-left"></span>
                  <%= f.text_field :title ,class: "title-area fusen" ,autocomplete:"off",placeholder:"20文字以内" %>
              </div> 
            </div>
            <div class = "form-text">
                  <%= f.label :text,"Text",class:"text-label" %>
              <div class="fusen-all">
                  <span class="fusen-left1"></span>
                  <span class="fusen-left2"></span>
                  <%= f.text_area :text, class:"text-area fusen",autocomplete:"off" %>
              </div>
            </div>
            <div class = "form-img">
               <span class="fusen-left1"></span>
               <%= f.label :text,"Upload data",class:"img-label",for:"image-field" %>
               <%= f.file_field :image,class:"img-area",id:"image-field" %>
               <div id="file-name"></div>
            </div>
            <div class = "form-submit">
               <%= f.label "Tweet",for:"submit-btn",class:"btn-label" %> 
               <%= f.submit class:"submit-area",id:"submit-btn" %>
            </div>
          <% end %>
        </div>
     

    </section>
   </div>
   
 </div>
 <%= javascript_pack_tag 'main.js' %>
 <%= javascript_pack_tag 'text.js' %>

</body>
</html>