<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <% content_for :css do %>
    <%= stylesheet_link_tag 'new','show' %>
  <% end %>
  <title>Document</title>
</head>
<body>

 <div id="global-container">
<!-- 背景のドット調coverの擬似要素 --> 
    <div class="bg-dot">
      <span class="bg-cover"></span>
    </div>
<!-- ボタンにhoverしたときに表示される擬似要素 -->
    <span class="bg-signup"></span>
    <span class="bg-signin"></span>
    <span class="bg-mypage"></span>
    <span class="bg-search"></span>
        <nav class="top-nav">
          <%= link_to  root_path, class: "top-nav_left" do%>
              <span class="char-sub">T</span><span class="char-sub">o</span><span class="char-sub">p</span><span class="char-sub">&nbsp</span><span class="char-sub">p</span><span class="char-sub">a</span><span class="char-sub">g</span><span class="char-sub">e</span>
          <% end %>
          <%= link_to  new_user_session_path, class: "top-nav_right" do%><span class="char-sub">L</span><span class="char-sub">o</span><span class="char-sub">g</span><span class="char-sub">&nbsp</span><span class="char-sub">o</span><span class="char-sub">u</span><span class="char-sub">t</span>
          <% end  %>
        </nav>
        <nav class= "bottom-nav">
            <%= link_to  root_path, class: "bottom-nav_left" do%>
              <span class="char-sub">T</span><span class="char-sub">o</span><span class="char-sub">p</span><span class="char-sub">&nbsp</span><span class="char-sub">p</span><span class="char-sub">a</span><span class="char-sub">g</span><span class="char-sub">e</span></a>
            <% end  %>
            <%= link_to new_post_path,class:"bottom-nav_right" do%>
              <span class="char-sub">W</span><span class="char-sub">r</span><span class="char-sub">i</span><span class="char-sub">t</span><span class="char-sub">e</span><span class="char-sub">&nbsp</span><span class="char-sub">a</span><span class="char-sub">&nbsp</span><span class="char-sub">p</span><span class="char-sub">o</span><span class="char-sub">s</span><span class="char-sub">t</span>
            <% end %>
          </nav>
       
 <!--　一覧表示 -->  
   <div class="all-content">
    <section class="main-content">
      <p class="main-title"><span class="char-title">N</span><span class="char-title">e</span><span class="char-title">w</span><span class="char-title">&nbsp</span><span class="char-title">P</span><span class="char-title">o</span><span class="char-title">s</span><span class="char-title">t</span>
      <div class="list-content">
        <div class ="form-content">
          <div class= "img-field">
          </div>
          <div class= "tweet-field">
              <span class="cover-title"></span>
              <div class="tweet-title">
              <%= @post.title %>
              </div>
              <span class="cover-text"></span>
              <span class="fusen-left1"></span>
              <span class="fusen-left2"></span>
              <div class = "tweet-text">
              <%= safe_join(@post.text.split("\n"),tag(:br)) %>
              </div>
          </div>
        </div>
        
        <div class = "comment-content">
              <div class="comments-list">
                <p class="comment-title"><span class="char-title">C</span><span class="char-title">o</span><span class="char-title">m</span><span class="char-title">m</span><span class="char-title">e</span><span class="char-title">n</span><span class="char-title">t</span></p>
                <ul class="tweets-list">
                
                  <% @comments.each do |comment| %>
                  <li class="com-li">
                      <span class="cover-comment"></span>
                    <div class="com-all">
                      <span class="com-spn1"></span>
                      <span class="com-spn2"></span>
                      <%= safe_join(comment.text.split("\n"),tag(:br)) %>
                      <br>
                      
                      <%= "#{comment.user.nickname}さんの投稿" %>
                      
                    </div>
                  </li>
                    <% end  %>
              
                </ul>
                <%= will_paginate @comments, :previous_label => ' &lt Back', :next_label => 'Next &gt' %>
              </div>
            <div class ="form-comment">
              <%= form_with(model: [@post, @comment], local: true,class:"with-all") do |form| %>
                  <div class="fusen-all_1">
                    <span class="fusen-left"></span>
                    <%= form.text_area :text, placeholder: "コメントする", rows: "2",class:"with-text" %>
                  </div>
                  <div class="fusen-all_2">
                  <span class="fusen-left_1"></span>
                  <%= form.label "SEND",for:"submit-btn",class:"com-submit" %>
                  <%= form.submit id:"submit-btn" %>
                  </div>
              <% end %>
            </div>

        </div>
     
      </div>
    </section>
   </div>
   
 </div>
 <%= javascript_pack_tag 'main.js' %>

</body>
</html>