<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <% content_for :css do %>
    <%= stylesheet_link_tag 'new','show' %>
  <% end %>
  <link href="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.7.1/css/lightbox.css" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js">
  </script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.7.1/js/lightbox.min.js" type="text/javascript">
 </script>
  <title>Document</title>
</head>
<body>

 <div id="global-container">
<!-- 背景のドット調coverの擬似要素 --> 
    <div class="bg-dot">
      <span class="bg-cover"></span>
    </div>
<!-- ボタンにhoverしたときに表示される擬似要素 -->
    <span class="bg-signup"></span>
    <span class="bg-signin"></span>
    <span class="bg-mypage"></span>
    <span class="bg-search"></span>
<!-- sign inしているときのボタン -->
     <% if user_signed_in? %> 
        <nav class="top-nav">
          <%= link_to  'javascript:history.back()' , class: "top-nav_left" do%>
          <span class="char-sub">B</span><span class="char-sub">a</span><span class="char-sub">c</span><span class="char-sub">k</span>
          <% end %>
          <%= link_to  root_path, class: "top-nav_right" do%>
          <span class="char-sub">T</span><span class="char-sub">o</span><span class="char-sub">p</span><span class="char-sub">&nbsp</span><span class="char-sub">p</span><span class="char-sub">a</span><span class="char-sub">g</span><span class="char-sub">e</span>
          <% end %>
        </nav>
        <nav class= "bottom-nav">
          <%= link_to user_path(current_user.id),class:"bottom-nav_left" do%><span class="char-sub">M</span><span class="char-sub">y</span><span class="char-sub">&nbsp</span><span class="char-sub">p</span><span class="char-sub">a</span><span class="char-sub">g</span><span class="char-sub">e</span>
          <% end %>
          <%= link_to tweets_posts_path,class:"bottom-nav_right" do%><span class="char-sub">T</span><span class="char-sub">w</span><span class="char-sub">e</span><span class="char-sub">e</span><span class="char-sub">t</span><span class="char-sub">s</span><span class="char-sub">&nbsp</span><span class="char-sub">l</span><span class="char-sub">i</span><span class="char-sub">s</span><span class="char-sub">t</span>
          <% end %>
        </nav>
 <!-- sign outしているときのボタン -->   
        <% else %>     
        <nav class="top-nav">
          <%= link_to  root_path, class: "top-nav_left" do%>
          <span class="char-sub">T</span><span class="char-sub">o</span><span class="char-sub">p</span><span class="char-sub">&nbsp</span><span class="char-sub">p</span><span class="char-sub">a</span><span class="char-sub">g</span><span class="char-sub">e</span>
          <% end %>
          <%= link_to  new_user_session_path, class: "top-nav_right" do%><span class="char-sub">L</span><span class="char-sub">o</span><span class="char-sub">g</span><span class="char-sub">&nbsp</span><span class="char-sub">i</span><span class="char-sub">n</span>
          <% end  %>
        </nav>
        <nav class= "bottom-nav">
          <%= link_to  new_user_session_path, class: "bottom-nav_left" do%><span class="char-sub">M</span><span class="char-sub">y</span><span class="char-sub">&nbsp</span><span class="char-sub">p</span><span class="char-sub">a</span><span class="char-sub">g</span><span class="char-sub">e</span>
          <% end %>
          <%= link_to tweets_posts_path,class:"bottom-nav_right" do%><span class="char-sub">T</span><span class="char-sub">w</span><span class="char-sub">e</span><span class="char-sub">e</span><span class="char-sub">t</span><span class="char-sub">s</span><span class="char-sub">&nbsp</span><span class="char-sub">l</span><span class="char-sub">i</span><span class="char-sub">s</span><span class="char-sub">t</span>
          <% end %>
        </nav>
      <% end %>
          
       
 <!--　タイトル -->  
   <div class="all-content">
    <section class="main-content">
      <p class="main-title"><span class="char-title">D</span><span class="char-title">e</span><span class="char-title">t</span><span class="char-title">a</span><span class="char-title">i</span><span class="char-title">l</span><span class="char-title">s</span><span class="char-title">&nbsp</span><span class="char-title">p</span><span class="char-title">a</span><span class="char-title">g</span><span class="char-title">e</span>
<!--　投稿表示_area -->
      <div class="list-content">
        <div class ="form-content">
          <div class= "img-field">
            <% if @post.image.attached? %>
              
              <%= link_to @post.image, "data-lightbox" => @post.image do %> 
              <%= image_tag @post.image,class:"img-tag", height: '250', :style=>"width:300;"%> 
              <% end %>
            <% else %>
             <p class="no-img">No Image</p>
            <% end %>
          
          </div>
          <div class= "tweet-field">
                  <span class="cover-title"></span>
                  <div class="tweet-title">
                  <%= @post.title %>
                  </div>
                <% if user_signed_in? && @post.user_id == current_user.id %>
                      <div class="link_us">
                      <%= link_to edit_post_path(@post.id),class:"link-user1" do%>
                      <%= "Edit"%> 
                      <% end %>
                      </div>
                  
                <% else %>
                      <div class="link_us">
                      <%= link_to user_path(@post.user.id),class:"link-user" do%>
                      <%= @post.user.nickname %> <br> <span>さん</span>
                      <% end %>
                      </div>
                  
                <% end %>  
            
              <span class="cover-text"></span>
              <span class="fusen-left1"></span>
              <span class="fusen-left2"></span>
              <div class = "tweet-text">
              <%= safe_join(@post.text.split("\n"),tag(:br)) %>
              </div>
          </div>
        </div>
        
        <div class = "comment-content">
              <div class="comments-list">
                <p class="comment-title"><span class="char-title">C</span><span class="char-title">o</span><span class="char-title">m</span><span class="char-title">m</span><span class="char-title">e</span><span class="char-title">n</span><span class="char-title">t</span></p>
                <ul class="tweets-list">
                
                  <% @comments.each do |comment| %>
                  <li class="com-li">
                      <span class="cover-comment"></span>
                    <div class="com-all">
                      <span class="com-spn1"></span>
                      <span class="com-spn2"></span>
                      <div class="link-name">
                        <%= safe_join(comment.text.split("\n"),tag(:br)) %>
                       <br>
                        <%= link_to user_path(comment.user.id),class:"user-name" do%>
                        <%= comment.user.nickname %>
                        <% end %>
                        <span>さんの投稿  <br></span>
                        <% if user_signed_in? && comment.user_id == current_user.id  %>
                            <%= link_to edit_post_comment_path(@post,comment),class:"edit-com" do %>
                            <span>編集</span>
                            <% end %>
                            <span>&nbsp</span><span>&nbsp</span><span>&nbsp</span><span>&nbsp</span><span>&nbsp</span><span>&nbsp</span><span>&nbsp</span>
                            <%= link_to post_comment_path(@post,comment),method: :delete, class:"delete-com" do %>
                            <span>削除</span>
                            <% end %>
                          <% elsif user_signed_in? && @post.id == current_user.id %>
                            <%= link_to post_comment_path(@post,comment),method: :delete,class:"delete-com" do %>
                            <span>削除</span>
                            <% end %>
                          <% else %>
                        <% end %>
                      </div>
                    </div>
                  </li>
                    <% end  %>
              
                </ul>
                <%= will_paginate @comments, :previous_label => ' &lt Back', :next_label => 'Next &gt' %>
              </div>
              <% if user_signed_in? %>
            <div class ="form-comment">
              <%= form_with(model: [@post, @comment], local: true,class:"with-all") do |form| %>
                  <div class="fusen-all_1">
                    <span class="fusen-left"></span>
                    <%= form.text_area :text, placeholder: "コメントする", rows: "2",class:"with-text" %>
                  </div>
                  <div class="fusen-all_2">
                  <span class="fusen-left_1"></span>
                  <%= form.label "SEND",for:"submit-btn",class:"com-submit" %>
                  <%= form.submit id:"submit-btn" %>
                  
                  </div>
              <% end %>
            </div>
            <% end %>
              

        </div>
     
      </div>
    </section>
   </div>
   
 </div>
 <%= javascript_pack_tag 'main.js' %>

</body>
</html>