<!DOCTYPE html>
<html>
  <head>
    <title>TU91</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= yield :css %>
   <link rel="preconnect" href="https://fonts.gstatic.com">
   <link href="https://fonts.googleapis.com/css2?family=Lora:wght@500;600&family=Shippori+Mincho:wght@600;700&display=swap" rel="stylesheet">
    <%= javascript_pack_tag 'application' %>
  </head>

  <body>
  <header>
  
   
  </header>
    <%= yield %>
  </body>
</html>
